/****** Object:  Table [dbo].[approval_chain_templates]    Script Date: 3/19/2026 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approval_chain_templates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[content_type] [nvarchar](50) NOT NULL,
	[chain_definition] [nvarchar](max) NOT NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compliance_documents]    Script Date: 3/19/2026 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compliance_documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[document_path] [nvarchar](500) NOT NULL,
	[title] [nvarchar](300) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[content_type] [nvarchar](50) NULL,
	[service_packages] [nvarchar](500) NULL,
	[owner_user_id] [int] NULL,
	[review_frequency_days] [int] NULL,
	[next_review_date] [date] NULL,
	[last_reviewed_date] [date] NULL,
	[last_reviewed_by] [int] NULL,
	[status] [nvarchar](30) NOT NULL,
	[effective_date] [date] NULL,
	[content_hash] [nvarchar](64) NULL,
	[version] [int] NOT NULL,
	[superseded_by] [int] NULL,
	[sunset_reason] [nvarchar](500) NULL,
	[sunset_date] [date] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_compliance_documents_path] UNIQUE NONCLUSTERED 
(
	[document_path] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compliance_reminders]    Script Date: 3/19/2026 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compliance_reminders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NOT NULL,
	[reminder_days_before] [int] NOT NULL,
	[notify_role] [nvarchar](50) NOT NULL,
	[last_sent_at] [datetime2](7) NULL,
	[enabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compliance_review_approvals]    Script Date: 3/19/2026 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compliance_review_approvals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NOT NULL,
	[approver_user_id] [int] NOT NULL,
	[approval_order] [int] NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[comments] [nvarchar](max) NULL,
	[acted_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compliance_review_history]    Script Date: 3/19/2026 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compliance_review_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NOT NULL,
	[review_id] [int] NULL,
	[action] [nvarchar](50) NOT NULL,
	[performed_by] [int] NULL,
	[details] [nvarchar](max) NULL,
	[knowbase_commit_sha] [nvarchar](40) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compliance_reviews]    Script Date: 3/19/2026 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compliance_reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NOT NULL,
	[review_type] [nvarchar](30) NOT NULL,
	[status] [nvarchar](30) NOT NULL,
	[requested_by] [int] NULL,
	[requested_at] [datetime2](7) NULL,
	[assigned_to] [int] NULL,
	[due_date] [date] NULL,
	[completed_at] [datetime2](7) NULL,
	[completed_by] [int] NULL,
	[decision_notes] [nvarchar](max) NULL,
	[revision_summary] [nvarchar](max) NULL,
	[knowbase_commit_sha] [nvarchar](40) NULL,
	[content_hash_at_review] [nvarchar](64) NULL,
	[triggered_by_regulatory_source_id] [int] NULL,
	[triggered_by_document_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[document_dependencies]    Script Date: 3/19/2026 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[document_dependencies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parent_document_id] [int] NOT NULL,
	[dependent_document_id] [int] NOT NULL,
	[dependency_type] [nvarchar](30) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_doc_dependency] UNIQUE NONCLUSTERED 
(
	[parent_document_id] ASC,
	[dependent_document_id] ASC,
	[dependency_type] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[document_regulatory_mappings]    Script Date: 3/19/2026 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[document_regulatory_mappings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NOT NULL,
	[regulatory_source_id] [int] NOT NULL,
	[mapping_type] [nvarchar](30) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_doc_reg_mapping] UNIQUE NONCLUSTERED 
(
	[document_id] ASC,
	[regulatory_source_id] ASC,
	[mapping_type] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regulatory_sources]    Script Date: 3/19/2026 8:40:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regulatory_sources](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[authority] [nvarchar](100) NOT NULL,
	[reference_code] [nvarchar](100) NULL,
	[title] [nvarchar](300) NOT NULL,
	[description] [nvarchar](max) NULL,
	[source_url] [nvarchar](500) NULL,
	[effective_date] [date] NULL,
	[last_updated] [date] NULL,
	[status] [nvarchar](30) NOT NULL,
	[knowbase_path] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[approval_chain_templates] ADD  DEFAULT ('all') FOR [category]
GO
ALTER TABLE [dbo].[approval_chain_templates] ADD  DEFAULT ('all') FOR [content_type]
GO
ALTER TABLE [dbo].[approval_chain_templates] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[approval_chain_templates] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[compliance_documents] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[compliance_documents] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[compliance_documents] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[compliance_reminders] ADD  DEFAULT ('owner') FOR [notify_role]
GO
ALTER TABLE [dbo].[compliance_reminders] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[compliance_review_approvals] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[compliance_review_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[compliance_reviews] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[compliance_reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[document_dependencies] ADD  DEFAULT ('references') FOR [dependency_type]
GO
ALTER TABLE [dbo].[document_dependencies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[document_regulatory_mappings] ADD  DEFAULT ('implements') FOR [mapping_type]
GO
ALTER TABLE [dbo].[document_regulatory_mappings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[regulatory_sources] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[regulatory_sources] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[compliance_documents]  WITH CHECK ADD  CONSTRAINT [FK_compliance_documents_superseded_by] FOREIGN KEY([superseded_by])
REFERENCES [dbo].[compliance_documents] ([id])
GO
ALTER TABLE [dbo].[compliance_documents] CHECK CONSTRAINT [FK_compliance_documents_superseded_by]
GO
ALTER TABLE [dbo].[compliance_reminders]  WITH CHECK ADD  CONSTRAINT [FK_reminders_document] FOREIGN KEY([document_id])
REFERENCES [dbo].[compliance_documents] ([id])
GO
ALTER TABLE [dbo].[compliance_reminders] CHECK CONSTRAINT [FK_reminders_document]
GO
ALTER TABLE [dbo].[compliance_review_approvals]  WITH CHECK ADD  CONSTRAINT [FK_approvals_review] FOREIGN KEY([review_id])
REFERENCES [dbo].[compliance_reviews] ([id])
GO
ALTER TABLE [dbo].[compliance_review_approvals] CHECK CONSTRAINT [FK_approvals_review]
GO
ALTER TABLE [dbo].[compliance_review_history]  WITH CHECK ADD  CONSTRAINT [FK_history_document] FOREIGN KEY([document_id])
REFERENCES [dbo].[compliance_documents] ([id])
GO
ALTER TABLE [dbo].[compliance_review_history] CHECK CONSTRAINT [FK_history_document]
GO
ALTER TABLE [dbo].[compliance_review_history]  WITH CHECK ADD  CONSTRAINT [FK_history_review] FOREIGN KEY([review_id])
REFERENCES [dbo].[compliance_reviews] ([id])
GO
ALTER TABLE [dbo].[compliance_review_history] CHECK CONSTRAINT [FK_history_review]
GO
ALTER TABLE [dbo].[compliance_reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_document] FOREIGN KEY([document_id])
REFERENCES [dbo].[compliance_documents] ([id])
GO
ALTER TABLE [dbo].[compliance_reviews] CHECK CONSTRAINT [FK_reviews_document]
GO
ALTER TABLE [dbo].[compliance_reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_triggered_doc] FOREIGN KEY([triggered_by_document_id])
REFERENCES [dbo].[compliance_documents] ([id])
GO
ALTER TABLE [dbo].[compliance_reviews] CHECK CONSTRAINT [FK_reviews_triggered_doc]
GO
ALTER TABLE [dbo].[compliance_reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_triggered_reg] FOREIGN KEY([triggered_by_regulatory_source_id])
REFERENCES [dbo].[regulatory_sources] ([id])
GO
ALTER TABLE [dbo].[compliance_reviews] CHECK CONSTRAINT [FK_reviews_triggered_reg]
GO
ALTER TABLE [dbo].[document_dependencies]  WITH CHECK ADD  CONSTRAINT [FK_doc_dep_dependent] FOREIGN KEY([dependent_document_id])
REFERENCES [dbo].[compliance_documents] ([id])
GO
ALTER TABLE [dbo].[document_dependencies] CHECK CONSTRAINT [FK_doc_dep_dependent]
GO
ALTER TABLE [dbo].[document_dependencies]  WITH CHECK ADD  CONSTRAINT [FK_doc_dep_parent] FOREIGN KEY([parent_document_id])
REFERENCES [dbo].[compliance_documents] ([id])
GO
ALTER TABLE [dbo].[document_dependencies] CHECK CONSTRAINT [FK_doc_dep_parent]
GO
ALTER TABLE [dbo].[document_regulatory_mappings]  WITH CHECK ADD  CONSTRAINT [FK_doc_reg_map_document] FOREIGN KEY([document_id])
REFERENCES [dbo].[compliance_documents] ([id])
GO
ALTER TABLE [dbo].[document_regulatory_mappings] CHECK CONSTRAINT [FK_doc_reg_map_document]
GO
ALTER TABLE [dbo].[document_regulatory_mappings]  WITH CHECK ADD  CONSTRAINT [FK_doc_reg_map_regulation] FOREIGN KEY([regulatory_source_id])
REFERENCES [dbo].[regulatory_sources] ([id])
GO
ALTER TABLE [dbo].[document_regulatory_mappings] CHECK CONSTRAINT [FK_doc_reg_map_regulation]
GO
ALTER TABLE [dbo].[compliance_documents]  WITH CHECK ADD  CONSTRAINT [CK_compliance_documents_category] CHECK  (([category]='general' OR [category]='logic-model' OR [category]='cqi' OR [category]='operational' OR [category]='training' OR [category]='template' OR [category]='guide' OR [category]='treatment-model' OR [category]='regulatory' OR [category]='policy'))
GO
ALTER TABLE [dbo].[compliance_documents] CHECK CONSTRAINT [CK_compliance_documents_category]
GO
ALTER TABLE [dbo].[compliance_documents]  WITH CHECK ADD  CONSTRAINT [CK_compliance_documents_status] CHECK  (([status]='archived' OR [status]='deprecated' OR [status]='sunset' OR [status]='draft' OR [status]='expired' OR [status]='revision-pending' OR [status]='under-review' OR [status]='current'))
GO
ALTER TABLE [dbo].[compliance_documents] CHECK CONSTRAINT [CK_compliance_documents_status]
GO
ALTER TABLE [dbo].[compliance_reminders]  WITH CHECK ADD  CONSTRAINT [CK_reminders_role] CHECK  (([notify_role]='all' OR [notify_role]='supervisor' OR [notify_role]='reviewer' OR [notify_role]='owner'))
GO
ALTER TABLE [dbo].[compliance_reminders] CHECK CONSTRAINT [CK_reminders_role]
GO
ALTER TABLE [dbo].[compliance_review_approvals]  WITH CHECK ADD  CONSTRAINT [CK_approvals_status] CHECK  (([status]='rejected' OR [status]='revision-requested' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[compliance_review_approvals] CHECK CONSTRAINT [CK_approvals_status]
GO
ALTER TABLE [dbo].[compliance_review_history]  WITH CHECK ADD  CONSTRAINT [CK_history_action] CHECK  (([action]='status-changed' OR [action]='document-updated' OR [action]='document-registered' OR [action]='recommend-sunset' OR [action]='dependency-cascade-triggered' OR [action]='regulatory-change-detected' OR [action]='sunset-completed' OR [action]='sunset-initiated' OR [action]='schedule-changed' OR [action]='content-changed-detected' OR [action]='reminder-sent' OR [action]='rejected' OR [action]='revision-requested' OR [action]='approved' OR [action]='assigned' OR [action]='review-initiated'))
GO
ALTER TABLE [dbo].[compliance_review_history] CHECK CONSTRAINT [CK_history_action]
GO
ALTER TABLE [dbo].[compliance_reviews]  WITH CHECK ADD  CONSTRAINT [CK_reviews_status] CHECK  (([status]='recommend-sunset' OR [status]='rejected' OR [status]='revision-requested' OR [status]='approved' OR [status]='in-progress' OR [status]='pending'))
GO
ALTER TABLE [dbo].[compliance_reviews] CHECK CONSTRAINT [CK_reviews_status]
GO
ALTER TABLE [dbo].[compliance_reviews]  WITH CHECK ADD  CONSTRAINT [CK_reviews_type] CHECK  (([review_type]='dependency-cascade' OR [review_type]='relevance-review' OR [review_type]='content-change-detected' OR [review_type]='regulatory-change' OR [review_type]='initial' OR [review_type]='revision' OR [review_type]='ad-hoc' OR [review_type]='scheduled'))
GO
ALTER TABLE [dbo].[compliance_reviews] CHECK CONSTRAINT [CK_reviews_type]
GO
ALTER TABLE [dbo].[document_dependencies]  WITH CHECK ADD  CONSTRAINT [CK_doc_dep_no_self] CHECK  (([parent_document_id]<>[dependent_document_id]))
GO
ALTER TABLE [dbo].[document_dependencies] CHECK CONSTRAINT [CK_doc_dep_no_self]
GO
ALTER TABLE [dbo].[document_dependencies]  WITH CHECK ADD  CONSTRAINT [CK_doc_dep_type] CHECK  (([dependency_type]='derived-from' OR [dependency_type]='references' OR [dependency_type]='supplements' OR [dependency_type]='measures' OR [dependency_type]='implements'))
GO
ALTER TABLE [dbo].[document_dependencies] CHECK CONSTRAINT [CK_doc_dep_type]
GO
ALTER TABLE [dbo].[document_regulatory_mappings]  WITH CHECK ADD  CONSTRAINT [CK_doc_reg_map_type] CHECK  (([mapping_type]='required-by' OR [mapping_type]='references' OR [mapping_type]='supports' OR [mapping_type]='implements'))
GO
ALTER TABLE [dbo].[document_regulatory_mappings] CHECK CONSTRAINT [CK_doc_reg_map_type]
GO
ALTER TABLE [dbo].[regulatory_sources]  WITH CHECK ADD  CONSTRAINT [CK_regulatory_sources_status] CHECK  (([status]='proposed' OR [status]='repealed' OR [status]='amended' OR [status]='active'))
GO
ALTER TABLE [dbo].[regulatory_sources] CHECK CONSTRAINT [CK_regulatory_sources_status]
GO
